.container {
  max-width: 375px;
  max-width: 450px;
  height: 100vh;
  background-image: url(/fondo.jpg);
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.app {
  padding: 4.5rem 0;
}