.containerFooter {
  width: 100%;
  max-width: inherit;
  position: fixed;
  height: 3rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/fondo.png);
  background-position: bottom;
  padding: 5px 0px 5px;
}
.inputText {
  flex-grow: 4;
  height: 80%;
  background-color: #fff;
  border-radius: 3rem;
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.inputText svg {
  fill: #bbb;
  margin: 0.5rem;
}
.inputText svg:nth-child(3) {
  transform: rotate(-45deg);
}
.microphone {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #00897b;
  border-radius: 50%;
  margin-right: 5px;
  display: grid;
  place-content: center;
}
.microphone svg {
  fill: #fff;
  transform: scale(0.6);
}
.placeholder {
  color: #bbb;
  flex-grow: 1;
}
